/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEAD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left ,#B9CBD9,#E9EAEC);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NAVIGATION BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#logo {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.navbar {
    background-image: url("static/Header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.3 rem 7 rem;
    border-bottom: 3px solid #e3f2fd;

}

.dropdown-item {
    height: 33px;
}

.navbar .navbar-brand {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.navbar .navbar-brand:hover {
    color: #e3f2fd;
}

.navbar .navbar-nav li a {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar .navbar-nav li a:hover {
    color: #e3f2fd !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: #35526F !important;
    background-color: white !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: black !important;
    background-color: #e3f2fd !important;
}

.navbar-toggler {
    background-color: white !important;
    margin-left: 80px;
}

nav {
    position: absolute;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ INTRODUCTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#welcome {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 175px;
    padding-left: 75px;
}

#applicationName {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 4.75vw;
    text-align-last: center;
    margin-top: 300px;
    margin-left: 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CALENDAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#calendarTitleTitle {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 175px;
    padding-left: 75px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~MY PROJECTS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#myProjectsPage {
    background-image: url("/static/Background 4.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFFFFF;
    /* height: 100%;
    width: 100%; */
    overflow-y: hidden;
    padding-bottom: 15vh;
}

#myProjectsTitle {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 3vw;
    text-align-last: left;
    padding-top: 175px;
    padding-left: 75px;
}

#myProjectsDescription {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.75vw;
    color: rgb(106, 131, 156);
    font-style: normal;
    text-align-last: left;
    padding-left: 75px;
    padding-top: 30px;
    height: 80%;
    width: 70%;
    max-height: 80%;
}

#gitLabLogo img {
    height: 10vw;
    margin: 0vh 0vh 0vh 60vh;
    padding-top: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MY FRIENDS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#myFriendsPage {
    background-image: url("/static/Background 3.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFFFFF;
    width: 100%;
    height: 92%;
    padding-bottom: 15vh;
}

#myFriendsTitle {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 3vw;
    text-align-last: left;
    padding-top: 150px;
    padding-left: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ADD FRIENDS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#addFriendsPage {
    background-image: url("/static/Background 3.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFFFFF;
    width: 100%;
    height: 92%;
    padding-bottom: 15vh;
}

#addFriendsTitle {
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #35526F;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 3vw;
    text-align-last: left;
    padding-top: 150px;
    padding-left: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAKING IT RESPONSIVE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 767px) {
    #homePage {
        padding-bottom: 0;
    }

    #profilePicture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: auto;
    }

    #name {
        margin-top: 0px;
        font-size: 40px;
        margin-left: 40px;
    }

    #university {
        margin-left: 40px;
    }

    #universityName {
        padding-left: 120px;
        font-size: 28px;
    }

    #skill {
        margin-left: 40px;
    }

    #skills {
        padding-left: 120px;
        font-size: 28px;
    }

    #experience {
        margin-left: 40px;
    }

    #experiences {
        padding-left: 120px;
        font-size: 28px;
    }

    #aboutMePage {
        padding-bottom: 0;
        background-position-x: -400px;
    }

    #aboutMeTitle {
        padding-left: 0px;
        padding-top: 40px;
        margin-left: 40px;
        font-size: 40px;
    }

    #aboutMeDescription {
        width: 83%;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 40px;
        margin: 0px 40px;
        font-size: 30px;
    }

    #myProjectsPage {
        padding-bottom: 0;
        background-position-x: -400px;
    }

    #myProjectsTitle {
        padding-left: 0px;
        padding-top: 40px;
        margin-left: 40px;
        font-size: 40px;
    }

    #myProjectsDescription {
        width: 83%;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 40px;
        margin: 0px 40px;
        font-size: 30px;
    }

    #gitLabLogo img {
        width: 200px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #myFriendsPage {
        padding-bottom: 0;
        background-position-x: -400px;
    }

    #myFriendsTitle {
        padding-left: 0px;
        padding-top: 40px;
        margin-left: 40px;
        font-size: 40px;
    }

    #addFriendPage {
        padding-bottom: 0;
        background-position-x: -400px;
    }

    #addFriendTitle {
        padding-left: 0px;
        padding-top: 40px;
        margin-left: 40px;
        font-size: 40px;
    }
}

@media only screen and (min-width: 767px) and (max-width:832px) {
    .skill {
        transform: translate(-55px, 0px);
    }

    #skills {
        transform: translate(-30px, 0px);
    }
}