<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="story.css"/>
    <title>TASC Application</title>
</head>
<body>
<body>
<!------------------------------------------------------------ NAVIGATION BAR ----------------------------------------------------------------->

<div id="image"></div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="#introductionPage" style="font-weight: bolder">TASC</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link js-scroll-trigger" href="/">View Calendar<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#viewCalendarPage">View Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#createAppointmentPage">Create an Appointment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!------------------------------------------------------------------------------------------ INTRO PAGE -------------------------------------------------------------------------------------->

<section id="introductionPage">
    <h1>
        <div id="welcome">Welcome to our</div>
    </h1>
    <h2>
        <div id="applicationName">TASC Application</div>
    </h2>
</section>

<!------------------------------------------------------------------------------------------ CALENDAR PAGE -------------------------------------------------------------------------------------->

<section id="viewCalendarPage">
    <h1>
        <div id="calendarTitle">Calendar</div>
    </h1>
    <div id="container-fluid" style="margin-left: 2vw; margin-right: 2vw;">
        <div th:switch="${calendars}">
            <h2 th:case="null"
                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px; color: #35526F; text-align: center">
                No users yet!</h2>
            <div th:case="*">
                <h2 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px; color: #35526F; text-align: center">
                    Users</h2>
                <table class="table table-bordered table-hover text-center"
                       style="border:#e3f2fd; margin-left: 5px; margin-right: 5px">
                    <thead style="background-color: #35526F; color: white;">
                    <tr>
                        <th scope="col" style="border: 1px solid #35526F;">Appointment ID</th>
                        <th scope="col" style="border: 1px solid #35526F;">Date</th>
                        <th scope="col" style="border: 1px solid #35526F;">Teaching Assistant</th>
                        <th scope="col" style="border: 1px solid #35526F;">Student</th>
                        <th scope="col" style="border: 1px solid #35526F;">Course</th>
                        <th scope="col" style="border: 1px solid #35526F;">Message</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center; color: #35526F; background-color: white;">
                    <tr th:each="calendar : ${calendars}">
                        <td th:text="${calendar.appointmentID}"></td>
                        <td><a th:href="${calendar.date}"></a></td>
                        <td th:text="${calendar.teachingAssistant}"></td>
                        <td th:text="${calendar.student}"></td>
                        <td th:text="${calendar.course}"></td>
                        <td><a th:href="${calendar.message}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</section>

<!--------------------------------------------------------------------------------------- CREATE APPOINTMENT------------------------------------------------------------------------------>

<section id="createAppointmentPage">
    <h1>
        <div id="appointmentTitle">Create Appointment</div>
    </h1>
    <div id="container-fluid1" style="margin-top: 4vh; margin-left: 2vw; margin-right: 2vw;">
        <form action="#" th:action="@{/appointment}" method="post">
            <div class="form-group">
                <label for="studentEmail"
                       style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bolder">Student Email Address</label>
                <input type="email" class="form-control" th:field="*{studentEmail}" id="studentEmail"
                       placeholder="Please enter the email address of the Student here.">
                <span th:if="${#fields.hasErrors('studentEmail')}" th:errors="*{studentEmail}"></span>
            </div>
            <div class="form-group">
                <label for="assistantEmail"
                       style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bolder">Teaching Assistant Email
                    Address</label>
                <input type="email" class="form-control" th:field="*{assistantEmail}" id="assistantEmail"
                       placeholder="Please enter the email address of the Teaching Assistant here.">
                <span th:if="${#fields.hasErrors('assistanEmail')}" th:errors="*{assistantEmail}"></span>
            </div>
            <div class="form-group">
                <label for="courseName">Course</label>
                <select class="form-control" id="courseName" each="course : ${courses}">
                    <option>*{course.courseName}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="message"
                       style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bolder">Message</label>
                <input type="text" class="form-control" th:field="*{message}" id="message"
                       placeholder="Write a message regarding the appointment here.">
                <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
            </div>
            <center>
                <button type="submit" class="btn btn-primary" style="background-color: #35526F; color: white;">Create Appointment
                </button>
            </center>
        </form>
    </div>
</section>

<!---------------------------------------------------------------- FOOTER --------------------------------------------------------------------->

<footer class="page-footer font-small" style="background-color: #35526F; position: fixed-bottom;">
    <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
        <a href="#introductionPage" style="color: white;">TASC Application</a>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>


<!--<!doctype html>-->
<!--<html lang="en" dir="ltr" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

<!--    <title>Home</title>-->
<!--    <link rel="icon" type="image/gif/png" href="static/Title.png"/>-->
<!--    <style>-->
<!--        body {-->
<!--            background-image: linear-gradient(to left ,#B9CBD9,#E9EAEC);-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div id="container-fluid" style="margin-left: 2vw; margin-right: 2vw;">-->
<!--    <div th:switch="${users}">-->
<!--        <h2 th:case="null" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px; color: #35526F; text-align: center">No users yet!</h2>-->
<!--        <div th:case="*">-->
<!--            <h2 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 30px; color: #35526F; text-align: center">Users</h2>-->
<!--            <table class="table table-bordered table-hover text-center" style="border:#e3f2fd; margin-left: 5px; margin-right: 5px">-->
<!--                <thead style="background-color: #35526F; color: white;">-->
<!--                <tr>-->
<!--                    <th scope="col">ID</th>-->
<!--                    <th scope="col">Name</th>-->
<!--                    <th scope="col">Email</th>-->
<!--                    <th scope="col">Status</th>-->
<!--                    <th scope="col">Edit</th>-->
<!--                    <th scope="col">Delete</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody style="text-align: center; color: #35526F; background-color: white;">-->
<!--                <tr th:each="user : ${users}">-->
<!--                    <td th:text="${user.id}"></td>-->
<!--                    <td th:text="${user.name}"></td>-->
<!--                    <td th:text="${user.email}"></td>-->
<!--                    <td><a th:href="@{/showstatus/{id}(id=${user.id})}">See More</a></td>-->
<!--                    <td><a th:href="@{/edit/{id}(id=${user.id})}">Click Here</a></td>-->
<!--                    <td><a th:href="@{/delete/{id}(id=${user.id})}">Click Here</a></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--        <center><button class="save btn btn-default" onclick="window.location.href='/signup'"-->
<!--                        style="background-color: #35526F; color: white;">Add New User</button></center>-->
<!--        <br>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->
